# Backend configuration
BACKEND_PORT=3000
JWT_SECRET=your_jwt_secret_key_65rtyugfhbnjhiou8_vkjdbn097865rtffuhdi98yughgfdpiohgsjkouigh
# JWT_EXPIRES_IN=12h

# Database configuration
POSTGRES_HOST=kitchy_postgres_gc_dev
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=recipes_db

# Email and password for pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin123

NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=postgresql://admin:admin123@kitchy_postgres_gc_dev/recipes_db