# Backend configuration
BACKEND_PORT=3000

# Database configuration
POSTGRES_HOST=postgres_gc_dev
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=recipes_db

# Email and password for pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin123